@model IEnumerable<JSL_Teste_0103.Models.Motorista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caminhaoMarca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caminhaoModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caminhaoPlaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caminhaoEixos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enderecoMotorista)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caminhaoMarca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caminhaoModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caminhaoPlaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caminhaoEixos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enderecoMotorista)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
